{"container_commands":
    {"01-yum-update":
        {"command":"sudo yum update"}
    ,"02-install-ruby":
        {"command":"sudo yum install ruby"}
    ,"03-install-wget":
        {"command":"sudo sudo yum install wget"}
    ,"04-install-codedeploy":
        {"command":"wget https://aws-codedeploy-us-west-1.s3.amazonaws.com/latest/install"
        ,"cwd":"/home/ec2-user"}
    ,"05-install-codedeploy-2":
        {"command":"chmod +x ./install"
        ,"cwd":"/home/ec2-user"}
    ,"06-install-codedeploy-3":
        {"command":"sudo ./install auto"
        ,"cwd":"/home/ec2-user"}
    ,"07-start-codedeploy":
        {"command":"sudo service codedeploy-agent start"}}
,"commands":
    {"01-get-libsodium":
        {"test":"test ! -d /home/ec2-user/libsodium"
        ,"command":"git clone -b stable https://github.com/jedisct1/libsodium.git"
        ,"cwd":"/home/ec2-user"}
    ,"02-install-libsodium":
        {"test":"if [ $(php -r \"echo extension_loaded('sodium');\") ]; then false ; else true ; fi"
        ,"command":"sudo ./configure && sudo make check && sudo make install"
        ,"cwd":"/home/ec2-user/libsodium"}
    ,"03-php-install-libsodium":
        {"test":"if [ $(php -r \"echo extension_loaded('sodium');\") ]; then false ; else true ; fi"
        ,"command":"sudo pecl7 install libsodium"
        ,"cwd":"/home/ec2-user/libsodium"}
    ,"04-php-install-xdebug":
        {"command":"sudo pecl7 install xdebug"
        ,"cwd":"/home/ec2-user"}}
,"files":
    {"/etc/php.d/99-libsodium.ini":
        {"mode":"000755"
        ,"owner":"root"
        ,"group":"root"
        ,"content":"extension=sodium.so"}}
}