files:
  "/etc/php.d/99libsodium.ini" :
    mode: "000755"
    owner: root
    group: root
    content: |
      extension=libsodium.so

sources:
    /etc/myapp: https://download.libsodium.org/libsodium/releases/libsodium-1.0.12.tar.gz

commands:
  01-config-libsodium:
    command: ./configure
    cwd: /etc/myapp/libsodium-1.0.12
  02-makeandcheck-libsodium:
    command: make && make check
    cwd: /etc/myapp/libsodium-1.0.12
  03-install-libsodium:
    command: sudo make install
    cwd: /etc/myapp/libsodium-1.0.12

conatiner_commands:
  01-pecl-install-libsodium:
    command: sudo pecl7 install libsodium